<p-card>
  <p-toolbar>

    <div class="p-toolbar-group-left">
      <!-- For some reason you have to have left group -->
    </div>

    <div class="p-toolbar-group-right">
      <p-dropdown
        [options]="Themes"
        [(ngModel)]="SelectedTheme"
        (ngModelChange)="ChangeTheme()"
        optionLabel="name">
      </p-dropdown>
    </div>
  </p-toolbar>
  <p-tabView>

    <p-tabPanel header="Buy">
      <wunder-mobility-buy-table></wunder-mobility-buy-table>
    </p-tabPanel>

    <p-tabPanel header="Products">
      <wunder-mobility-products-table></wunder-mobility-products-table>
    </p-tabPanel>
  </p-tabView>
</p-card>

