<mat-form-field>
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Can't Connect to backend
    </div>
  </div>

  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<mat-paginator [length]="resultsLength" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons="true"></mat-paginator>

<table mat-table
       [dataSource]="dataSource"
       multiTemplateDataRows
       matSort
       matSortActive="created" matSortDisableClear
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
    <td mat-cell *matCellDef="let element" class="hand-cursor"> {{ element[column] }} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element; let i = index" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <mat-card class="center">

              <mat-card-subtitle>PersonDataID: <b>{{element.PersonDataID}}</b></mat-card-subtitle>
              <mat-card-content>

                <mat-form-field>
                  <mat-label>DateValue</mat-label>
                  <input matInput [matDatepicker]="picker1" [attr.personnel_DateValue]="element.PersonDataID" value="{{ element.DateValue }}">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>DocReestratorID</mat-label>
                  <textarea [attr.personnel_DocReestratorID]="element.PersonDataID" matInput value="{{ element.DocReestratorID }}"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Oklad</mat-label>
                  <textarea [attr.personnel_Oklad]="element.PersonDataID" matInput value="{{ element.Oklad }}"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Stavka</mat-label>
                  <textarea [attr.personnel_Stavka]="element.PersonDataID" matInput value="{{ element.Stavka }}"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>PIP</mat-label>
                  <textarea [attr.personnel_PIP]="element.PersonDataID" matInput value="{{ element.PIP }}"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>KodDRFO</mat-label>
                  <textarea [attr.personnel_KodDRFO]="element.PersonDataID" matInput value="{{ element.KodDRFO }}"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>DataPriyomu</mat-label>
                  <input matInput [matDatepicker]="picker2" [attr.personnel_DataPriyomu]="element.PersonDataID" value="{{ element.DataPriyomu }}">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Posada</mat-label>
                  <textarea [attr.personnel_Posada]="element.PersonDataID" matInput [value]="element.KodDRFO"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>PodatkovaPilga</mat-label>
                  <textarea [attr.personnel_PodatkovaPilga]="element.PersonDataID" matInput [value]="element.PodatkovaPilga"></textarea>
                </mat-form-field>

              </mat-card-content>

              <mat-card-actions class="right">
                <button (click)="updateEntry(element.PersonDataID)" mat-raised-button color="primary">Update</button>
                <button (click)="deleteEntry(element.PersonDataID)" mat-raised-button color="warn">Delete</button>
              </mat-card-actions>
            </mat-card>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
