{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
		"@typescript-eslint",
		"jsdoc",
		"eslint-plugin-tsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:jsdoc/recommended"
  ],
	"rules": {
		"tsdoc/syntax": "warn",
		"tsdoc/tsdoc-param-tag-missing-hyphen": "off",
		"jsdoc/newline-after-description": "off",
		"jsdoc/require-param-type": "off",
		"jsdoc/require-returns-type": "off",
    "no-mixed-spaces-and-tabs": "off",
		"quotes": [
			"warn",
			"double"
		],
		"semi": [
			"warn",
			"always"
		]
	}
}
