<p-card>
  <p-table [value]="Data"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
    [lazy]=true (onLazyLoad)="LazyLoad($event)" [loading]="Loading" [totalRecords]="TotalRecords"
    [paginator]=true [rows]=50 [rowsPerPageOptions]="[25, 50, 100]" [showCurrentPageReport]=true
    currentPageReportTemplate="{first}/{last} total:{totalRecords}"
    selectionMode="single" 
    (onRowSelect)="OnSelectMaterial($event.data)" (onRowUnselect)="OnUnSelectMaterial()"
  >

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of Columns">
          {{column}}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowData>
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let column of Columns; let i = index;">
          {{data[column]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- Footer -->
  <ng-template pTemplate="footer">
    <button pButton
      [disabled]="ButtonConfirmMaterialDisabled"
      (click)="OnMaterialSelectionConfirmClicked()"
      class="p-button-success"
      label="Confirm" icon="pi pi-check">
    </button>
  </ng-template>
</p-card>
