<p-card>
  <p-table
  [value]="Data"
  styleClass="p-datatable-striped p-datatable-sm"
  [autoLayout]=true
>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of Columns">
          {{column}}
        </th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowData>
      <tr>
        <td *ngFor="let column of Columns">
          {{data[column]}}
        </td>
        <td>
          <button
            (click)="RemoveEntry(rowData)"
            icon="pi pi-trash"
            pButton class="p-button-rounded p-button-danger">
          </button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</p-card>
<br>
<div class="p-d-flex">
  <span class="p-mx-auto">
    <button
      (click)="AddNewEntry()" label="Scan"
      icon="pi pi-plus"
      pButton class="p-button-rounded">
    </button>

    <button
      (click)="SaveEntries()" label="Save"
      icon="pi pi-check"
      pButton class="p-button-success p-button-rounded">
    </button>
  </span>
</div>

<p-dialog
  baseZIndex=10002
  [(visible)]="NewDialogVisible" [modal]=true
  [draggable]=false>
  <p-card>

    <div class="p-fluid">

      <div class="p-field">
        <label>Bar Code</label>
        <input pInputText [(ngModel)]="NewEntry.BarCode">
      </div>

      <div class="p-field">
        <label>Quantity</label>
        <input pInputText [(ngModel)]="NewEntry.Quantity">
      </div>

      <div class="p-field">
        <label>Units</label>
        <input pInputText [(ngModel)]="NewEntry.Unit">
      </div>
    </div>
  </p-card>
  <ng-template pTemplate="footer">
    <button
      (click)="SaveNewEntry()"
      class="p-button-success"
      pButton label="Save&Close" icon="pi pi-save">
    </button>

    <button
    (click)="SaveNewEntryAndNext()"
    class="p-button-success"
    pButton label="Save&Next" icon="pi pi-angle-right">
  </button>

  </ng-template>
</p-dialog>
