<p-table
  styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
  [lazy]="true" (onLazyLoad)="LoadDataLazy($event)" [loading]="Loading"
  [columns]="ColumnsRelation" [value]="ScanTableData"
  [totalRecords]="TotalRecords"
  [autoLayout]=true
>
  <ng-template pTemplate="caption">
    <!-- Refresh button -->
    <div style="margin-bottom: 1em">

      <!-- Add new -->
      <button pButton pRipple label="New" icon="pi pi-plus"
        class="p-button-success p-mr-2" (click)="AddNewScan()">
      </button>

      <!-- Refresh -->
      <button type="button" pButton icon="pi pi-refresh"
        (click)="RefreshTable()" style="margin-right:.5em">
      </button>

    </div>
  </ng-template>
  <!-- Headers -->
  <ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
        <th style="width: 4rem">Actions</th>
    </tr>
  </ng-template>

  <!-- Fields -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
            {{rowData[col.field]}}
        </td>
        <!-- Actions -->
        <td>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="DeleteScan(rowData)">
          </button>

        </td>
    </tr>
  </ng-template>

</p-table>
