<p-table
  styleClass="p-datatable-striped p-datatable-sm"
  [lazy]="true" (onLazyLoad)="LoadDataLazy($event)" [loading]="Loading"
  [columns]="ColumnsRelation" [value]="ScanTableData"
  [totalRecords]="TotalRecords"
>
  <ng-template pTemplate="caption">
    <!-- Refresh button -->
    <div style="margin-bottom: 1em">

      <!-- Add new -->
      <button pButton 
        pRipple label="New" icon="pi pi-plus"
        class="p-button-success p-mr-2" (click)="AddNewScan()">
      </button>

      <!-- Refresh -->
      <button type="button" pButton icon="pi pi-refresh"
        (click)="RefreshTable()" style="margin-right:.5em">
      </button>

    </div>
  </ng-template>
  <!-- Headers -->
  <ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
        <th style="width: 4rem">Actions</th>
    </tr>
  </ng-template>

  <!-- Fields -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
            {{rowData[col.field]}}
        </td>
        <!-- Actions -->
        <td>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="DeleteScan(rowData)">
          </button>

        </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  baseZIndex=10002
  [(visible)]="NewDialogVisible" [modal]=true
  [draggable]=false>
  <p-card>

    <div class="p-fluid">
      <div class="p-field">
        <label>Name: {{NewEntryName}}</label>
      </div>

      <div class="p-field">
        <label>Bar Code</label>
        <input pInputText (focusout)="CheckBarcode()" [(ngModel)]="NewEntry.BarCode">
      </div>
      
      <div class="p-field">
        <label>Quantity</label>
        <div class="p-inputgroup">
          <p-inputNumber [(ngModel)]="NewEntry.Quantity"></p-inputNumber>
          <span class="p-inputgroup-addon">{{NewEntry.Unit}}</span>
        </div>
      </div>

    </div>
  </p-card>
  <ng-template pTemplate="footer">
    <button pButton
      [disabled]="NewEntriesAddingDisabled"
      (click)="SaveNewEntry()"
      class="p-button-success"
      label="Save&Close" icon="pi pi-save">
    </button>

    <button pButton
      [disabled]="NewEntriesAddingDisabled"
      (click)="SaveNewEntryAndNext()"
      class="p-button-success"
      label="Save&Next" icon="pi pi-angle-right">
  </button>

  </ng-template>
</p-dialog>