<mat-card class="example-card">
  <mat-card-header>
      <mat-icon>people</mat-icon>
      <mat-card-title>Personnel</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button (click)="Refresh()"><mat-icon>refresh</mat-icon><div >Refresh</div></button>
    <button mat-button (click)="openDialog()"><mat-icon>account_box</mat-icon><div >Add New</div></button>
    <button mat-button><mat-icon>assignment</mat-icon><div >Create Report</div></button>
  </mat-card-actions>
</mat-card>

<app-personnel-table-2 [events]="RefreshEvent.asObservable()"></app-personnel-table-2>
