<mat-card class="example-card">
  <mat-card-header>
      <mat-icon>work</mat-icon>
      <mat-card-title>Occupations</mat-card-title>
      <div class="spacer"></div>
      <mat-form-field>
        <mat-label>Theme</mat-label>
        <mat-select [(ngModel)]="selectedTheme" (ngModelChange)="changeTheme()" name="theme">
          <mat-option *ngFor="let theme of themes" [value]="theme.value">
            {{theme.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button (click)="openDialog()"><mat-icon>account_box</mat-icon><div i18n>Add New</div></button>
    <button mat-button><mat-icon>assignment</mat-icon><div i18n>Create Report</div></button>

  </mat-card-actions>
</mat-card>



<app-occup-table3></app-occup-table3>
<router-outlet></router-outlet>
