

<p-tabView [(activeIndex)]="ActiveTabIndex">
  <p-tabPanel header="Materials Receipts List">
    <materials-receipts-list-table></materials-receipts-list-table>
  </p-tabPanel>
  <p-tabPanel [(disabled)]="MaterialReceiptsDataTabDisabled" header="Material Receipts Data">
      <ng-template pTemplate="content">
          <materials-receipts-list-table-table
            [MaterialsReceiptId]="SelectedMaterialReceiptId"></materials-receipts-list-table-table>
      </ng-template>
  </p-tabPanel>
</p-tabView>
