<p-table
    styleClass="p-datatable-striped"
    [lazy]="true" (onLazyLoad)="LoadDataLazy($event)" [loading]="Loading"
    [columns]="Cols" [value]="MaterialsListData"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [totalRecords]="TotalRecords"
    [scrollable]="true" scrollHeight="500px" [virtualScroll]="true" [virtualRowHeight]="34"
    selectionMode="single" (onRowSelect)="OnRowSelect()" [(selection)]="SelectedRecord">
  <ng-template pTemplate="caption">
    Materials Receipts List
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>

<p-dialog header="Material Receipt Details"
  [(visible)]="DisplayDialog" [focusOnShow]="false" showEffect="fade" [modal]="true">
  <div class="p-grid ui-fluid" *ngIf="SelectedRecord">
      <div class="p-col-4">
          <label for="Number">Number</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="Number" [(ngModel)]="SelectedRecord.Number" autofocus />
      </div>
      <div class="p-col-4">
          <label for="year">RegisterDateTime</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="RegisterDateTime" [(ngModel)]="SelectedRecord.RegisterDateTime" />
      </div>
      <div class="p-col-4">
          <label for="brand">SignMark</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="SignMark" [(ngModel)]="SelectedRecord.SignMark" />
      </div>
      <div class="p-col-4">
          <label for="color">Signee</label>
      </div>
      <div class="p-col-8">
          <input pInputText id="SignPerson" [(ngModel)]="SelectedRecord.SignPerson" />
      </div>
  </div>
</p-dialog>
