<mat-toolbar color="primary" class="mat-elevation-z6 pos-fixed">
  <mat-toolbar-row>
    <span><a (click)="Reload()">FORESTPATH</a></span>
    <div class="spacer"></div>

    <mat-form-field>
      <mat-select [(ngModel)]="selectedTheme" (ngModelChange)="ChangeTheme()" name="theme">
        <mat-option *ngFor="let theme of themes" [value]="theme.value">
          {{theme.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-select [(ngModel)]="selectedLang" (ngModelChange)="ChangeLanguage()" name="language">
        <mat-option *ngFor="let lang of langs" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <nav mat-tab-nav-bar>
    <a class="tablinks" i18n="menu button personnel@@menu-personnel-button"
      mat-tab-link (click)="MenuClick($event, 1001)">Personnel</a>

    <a class="tablinks" i18n="menu button occupation@@menu-occupation-button"
      mat-tab-link (click)="MenuClick($event, 1005)">Occupations</a>

    <!-- <a class="tablinks" i18n="menu button observer@@menu-observer-button"
      mat-tab-link (click)="MenuClick($event, 1007)">Observer</a> -->

    <a class="tablinks" mat-tab-link (click)="MenuClick($event, 1008)">Material Receipts</a>

    <!-- <a class="tablinks" mat-tab-link (click)="MenuClick($event, <source_id>)">Template Tablink</a> -->

  </nav>

  <div id="personnel" class="tabcontent">
    <h3>Personnel</h3>
    <p>loading..</p>
  </div>

  <div id="occupationsNg9" class="tabcontent">
    <h3>Occupations</h3>
    <p>loading..</p>
  </div>

  <div id="observer" class="tabcontent">
    <h3>Observer</h3>
    <p>loading..</p>
  </div>

  <div id="materialReceipts" class="tabcontent">
    <h3>MaterialReceipts</h3>
    <p>loading..</p>
  </div>

  <!-- <div id="<project_name>" class="tabcontent">
    <h3>Template</h3>
    <p>loading..</p>
  </div> -->

</mat-sidenav-container>
