
<div class="container">

    <div class="row">
        <div class="tab">
            <button class="tablinks" (click)="menuClick($event, 1001)">Personnel</button>
            <button class="tablinks" (click)="menuClick($event, 1002)">Occupations</button>
            <button class="tablinks" (click)="menuClick($event, 1005)">OccupationsNg9</button>
        </div>
    </div>

    <div id="personnel" class="tabcontent">
        <h3>Personnel</h3>
        <p>loading..</p>
      </div>

    <div id="occupations" class="tabcontent">
      <h3>Occupations</h3>
      <p>loading..</p>
    </div>

    <div id="occupationsNg9" class="tabcontent">
        <h3>OccupationsNg9</h3>
        <p>loading..</p>
      </div>
  </div>

