<mat-card class="center">

    <mat-card-content>
      <mat-form-field>
        <mat-label>Tariff Category</mat-label>
        <textarea [(ngModel)]="data.TariffCategory" matInput></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Occupation Name</mat-label>
        <textarea [(ngModel)]="data.Name" matInput></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="right">
      <button (click)="save()" mat-raised-button color="primary">Create</button>
      <button (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
    </mat-card-actions>
  </mat-card>
