<p-table
  [value]="MaterialsListTableData"
  styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
  [totalRecords]="TotalRecords" [loading]="Loading"
  [lazy]="true" (onLazyLoad)="LoadDataLazy($event)"
  [(selection)]="SelectedRow"
  >
  <ng-template pTemplate="caption">
    <div class="p-grid">
      <div class="p-col">
          <div class="box">{{ 'MaterialsReceipts.MaterialsReceiptsTable.Caption.MaterialReceiptId' | translate}} : {{ CurrentMaterialsReceiptData.Id }}</div>
      </div>
      <div class="p-col">
          <div class="box">{{ 'MaterialsReceipts.MaterialsReceiptsTable.Caption.MaterialReceiptNumber' | translate}} : {{ CurrentMaterialsReceiptData.ReceiptNumber }}</div>
      </div>
      <div class="p-col">
          <div class="box">{{ 'MaterialsReceipts.MaterialsReceiptsTable.Caption.MaterialReceiptDate' | translate}} : {{ CurrentMaterialsReceiptData.ReceiptDate }}</div>
      </div>
    </div>
  </ng-template>

  <!-- Headers -->
  <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of Columns">
          {{ 'MaterialsReceipts.MaterialsReceiptsTable.GeneralData.TableHeader.' + col.header | translate}}
        </th>
      </tr>
  </ng-template>

  <!-- Fields -->
  <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of Columns">

              <div *ngIf="(col.field == 'Quantity'); else default">
                {{rowData[col.field]}} {{rowData['Unit']}} ( {{ 'MaterialsReceipts.MaterialsReceiptsTable.GeneralData.Left' | translate }}: {{ rowData['Quantity'] - ScannedDictionary[+rowData['Id']] }})
                <p-progressBar
                  [showValue]=false
                  [value]="ScannedDictionary[+rowData['Id']] * 100 / rowData['Quantity']">
                </p-progressBar>
              </div>

              <ng-template #default>{{rowData[col.field]}}</ng-template>
          </td>
      </tr>
  </ng-template>

</p-table>
