<p-card>
  <p-table
    styleClass="p-datatable-sm p-datatable-striped"
    #dt [value]="Data"
    [lazy]=true (onLazyLoad)="LazyLoad($event)" [loading]="Loading" [totalRecords]="TotalRecords"
  >

    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <button pButton pRipple label="New" icon="pi pi-plus"
          class="p-button-success p-mr-2" (click)="CreateNewProduct()">
        </button>
        <button pButton (click)="RefreshTable()" class="p-button-rounded p-ml-auto" icon="pi pi-refresh"></button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of Columns">
          {{column}}
        </th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-data let-rowData>
      <tr>
        <td *ngFor="let column of Columns; let i = index;">
          {{data[column]}}
        </td>
        <td>
          <p-button
            styleClass="p-button-rounded p-button-danger"
            icon="pi pi-trash"
            (click)="DeleteProduct(rowData)"></p-button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</p-card>

<p-dialog header="New Product" [(visible)]="NewProductDialog" [modal]=true>
  <div class="p-fluid">
    <div class="p-field">
      <label>Product Code</label>
      <input pInputText [(ngModel)]="NewProduct.ProductCode">
    </div>

    <div class="p-field">
      <label>Product Name</label>
      <input pInputText [(ngModel)]="NewProduct.Name">
    </div>

    <div class="p-field">
      <label>Price</label>
      <p-inputNumber currency="EUR"
        mode="currency" [(ngModel)]="NewProduct.Price"></p-inputNumber>
    </div>

    <div class="p-field">
      <label>Minimal Promotional Quantity</label>
      <p-inputNumber [(ngModel)]="NewProduct.PromotionalQuantity"></p-inputNumber>
    </div>

    <div class="p-field">
      <label>Minimal Promotional Price</label>
      <p-inputNumber currency="EUR" mode="currency"
        [(ngModel)]="NewProduct.PromotionalPrice"></p-inputNumber>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button (click)="SaveNewProduct()" class="p-button-success" pButton label="Save" icon="pi pi-check"></button>
  </ng-template>
</p-dialog>
